<section class="hero-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Velvet Avenue</h1>
        <picture>
            <source srcset="
            /img/home/logo-desk.png  1x,
            /img/home/logo-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/logo-mob.png  1x,
            /img/home/logo-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Velvet Avenue" loading="lazy" />
        </picture>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <h2>About the Game</h2>
        <p>It’s all about your creative vision and whether people actually care about what you’re putting out there<br/>
        Velvet Avenue focuses on managing a growing fashion empire while balancing design, branding, and public<br class="desk"/> influence.
        Players create outfits, choose themes for collections, organize runway presentations, and collaborate<br class="desk" /> with stylists,
        photographers, and fashion influencers. We want it to feel glamorous and inspiring, but not too busy<br class="desk" /> or overwhelming
        to look at.</p>
    </div>
</section>
<section class="rules-section" id="rules">
    <div class="container">
        <h2>Rules</h2>
        <ul class="rules-list">
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Design Fashion Collections</p>
                    <p class="rules-item-text">Create seasonal outfits using different materials, colors, and silhouettes.</p>
                </div>
            </li>
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Organize Runway Shows</p>
                    <p class="rules-item-text">Prepare themed fashion events and impress critics.</p>
                </div>
            </li>
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Manage Your Studio</p>
                    <p class="rules-item-text">Upgrade workshops, photography zones, and luxury showrooms.</p>
                </div>
            </li>
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Manage Your Studio</p>
                    <p class="rules-item-text">Upgrade workshops, photography zones, and luxury showrooms.</p>
                </div>
            </li>
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Follow Fashion Trends</p>
                    <p class="rules-item-text">Adapt to changing seasonal styles and audience preferences.</p>
                </div>
            </li>
            <li class="rules-item">
                <img src="/img/rules/icon.png" alt="icon" loading="lazy">
                <div class="rules-item-wrapper">
                    <p class="rules-item-title">Expand Global Influence</p>
                    <p class="rules-item-text">Unlock new fashion districts, collaborations, and exclusive events.</p>
                </div>
            </li>
        </ul>
    </div>
</section>