<section class="hero-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Velvet Avenue</h1>
        <picture>
            <source srcset="
            /img/home/logo-desk.png  1x,
            /img/home/logo-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/logo-mob.png  1x,
            /img/home/logo-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Velvet Avenue" loading="lazy" />
        </picture>
    </div>
</section>