.footer {
background: #c9a46c;
}

.footer-container {
padding: 32px 89px 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer-navigation {
  display: flex;
flex-direction: column;
align-items: start;
  gap: 16px;
font-family: "Bodoni Moda", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #171416;
}

.footer-text {
  font-size: 12px;
  color: #171416;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
padding: 46px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .footer-navigation {
flex-direction: row;
justify-content: space-between;
  }

  .footer-text {
text-align: center;
  }
}